<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Flow</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="~/Content/Custom/stye.css" rel="stylesheet" />
    <style>
        .container {
            margin: 0 !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-3 d-flex justify-content-between">
        <h3 class="navbar-brand" style="font-size: 25px;">Task Flow</h3>

        <form method="post" action="@Url.Action("LogOut", "Login")">
            <button type="submit" class="btn btn-info">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>
    </nav>

    <div>
        <div class="mx-5 mt-3">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
